body {
    background-color: #FEF2F4;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

.envelope-wrapper {
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#envelope {
    position: relative;
    height: 180px;
    width: 280px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 0 auto;
    background-color: #F7B5CA;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

#envelope:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.front {
    position: absolute;
    width: 0;
    height: 0;
    z-index: 3;
}

.flap {
    border-top: 98px solid #D14D72;
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
    border-bottom: 82px solid transparent;
    transform-origin: top;
}

.pocket {
    border-left: 140px solid #FF8BA0;
    border-right: 140px solid #FF8BA0;
    border-bottom: 90px solid #FFA8B5;
    border-top: 90px solid transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 6px;
}

.letter {
    position: relative;
    background-color: white;
    width: 90%;
    height: 95%;
    top: 5%;
    border-radius: 10px;
    box-shadow: 0 2px 26px rgba(0, 0, 0, 0.12);
    margin: 0 auto;
}

.words {
    position: absolute;
    left: 7%;
    right: 7%;
    width: 90%;
    font-size: 13px;
    text-align: center;
    font-family: "Josefin Slab", serif;
    color: black;
}

.line1 {
    font-weight: 800;
    top: 8%;
    text-align: left;
}

.line2 {
    top: 25%;
    font-weight: 500;
}

.line3 {
    top: 39%;
    font-weight: 500;
    text-align: center;
}

.line4 {
    top: 58%;
    font-weight: 600;
    text-align: center;
}

.open .flap {
    transform: rotateX(180deg);
    transition: transform 0.4s ease, z-index 0.6s;
    z-index: 1;
}

.close .flap {
    transform: rotateX(0deg);
    transition: transform 0.4s 0.6s ease, z-index 1s;
    z-index: 5;
}

.open .letter {
    transform: translateY(-80px);
    transition: transform 0.4s 0.6s ease, z-index 0.6s;
    z-index: 2;
}

.close .letter {
    transform: translateY(0deg);
    transition: transform 0.4s ease, z-index 1s;
    z-index: 1;
}

.hearts {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    z-index: 2;
}

.heart {
    position: absolute;
    bottom: 0;
    right: 10%;
}

.heart:before,
.heart:after {
    position: absolute;
    content: "";
    background: #d00000;
    width: 50px;
    height: 80px;
    left: 50px;
    top: 0;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.close .heart {
    opacity: 0;
    animation: none;
}

.a1 {
    left: 20%;
    transform: scale(0.6);
    opacity: 1;
    animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}

.a2 {
    left: 55%;
    transform: scale(1);
    opacity: 1;
    animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}

.a3 {
    left: 10%;
    transform: scale(0.8);
    opacity: 1;
    animation: slideUp 7s linear 1, sideSway 2s ease-in-out 6 alternate;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}

@keyframes slideUp {
    0% {
        top: 0;
    }
    100% {
        top: -600px;
    }
}

@keyframes sideSway {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 50px;
    }
}

.reset {
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}

.reset button {
    font-weight: 800;
    font-style: normal;
    transition: all 0.1s linear;
    background-color: transparent;
    border: solid 2px #D14D72;
    border-radius: 4px;
    color: #D14D72;
    font-size: 14px;
    text-transform: uppercase;
    margin: 20px;
    padding: 10px;
    line-height: 2em;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}

.reset button:hover {
    background-color: #D14D72;
    color: white;
}

.message {
    text-align: center;
    font-family: "Josefin Slab", serif;
    font-weight: 400;
    margin: 50px;
    font-size: 24px;
    line-height: 1.5;
    color: rgb(20, 20, 20);
}
